.container {
  display: grid;
  grid-template-rows: 60vh min-content;
  grid-template-columns:
    [full-start] 1fr [main-start] minmax(min-content, 140rem)
    [main-end] 1fr [full-end];
}

.corona-map {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;
  grid-gap: 1rem;
}

.statistic {
  grid-row: 2 / -1;
  grid-column: main-start / main-end;
}
