@import "~@progress/kendo-theme-default/dist/all.scss";

.container {
  display: grid;
  grid-template-rows: 60vh min-content;
  grid-template-columns:
    [full-start] 1fr [main-start] minmax(min-content, 140rem)
    [main-end] 1fr [full-end];
}

.corona-map {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;
  // grid-gap: 1rem;

  &__input {
    width: 40%;
    transform: translateY(-50%);
    z-index: 1000;

    position: relative;
  }

  &__input-icon {
    width: 3rem;
    height: 3rem;
    color: #5f6368;
    position: absolute;
    top: 17%;
    right: 2rem;
    z-index: 2000;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__input-icon:hover {
    transform: scale(1.25);
  }

  &__input-icon:focus,
  &__input-icon:active {
    transform: scale(1.05);
  }
}

.statistic {
  grid-row: 2 / -1;
  grid-column: main-start / main-end;
  // justify-self: center;
}
